.cabecalho {
    color: blue;
    text-align: center;
}
.divisao {
    color: aquamarine;
    text-align: center;
    font-size: 14px;
}
img {
    width: 35px;
    padding-right: 10%;
    display: inline-block;
    margin: auto;
    background-image: linear-gradient();
}
h1 {
    font-size: 20px;
    text-align: center;
    color: aqua;
}
h2 {
    font-size: 17px;
    text-align: center;
    color: aqua;
}
strong {
    color: aqua;
}
head {
    background-color: black;
}
body {
    background-color: black;
}
footer {
    background-color: black;
}